.body {
    line-height: 0.8;
}

.header {
    width: 100%;
    background-color: #000;
    color: #fff;
}

.header-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

.search-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-icon {
    display: none;
}

#keyword-input {
    padding: 8px;
    font-size: 1em;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.menu {
    display: flex;
}

.menu-list-content {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list {
    margin-left: 20px;
}

.menu-link,
.logout-link {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.logout-link {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

.hamburger-menu {
    display: none;
}

@media (min-width: 769px) {
    .menu {
        display: flex;
    }

    #keyword-input {
        display: inline-block;
    }

    .hamburger-menu,
    .search-icon {
        display: none;
    }
}

@media (max-width: 768px) {

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: #333;
        border-top: 1px solid #555;
    }

    .menu-list-content {
        flex-direction: column;
    }

    .menu-list {
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    #search-icon {
        display: block;
    }

    #keyword-input {
        display: none;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .search-content.active #keyword-input {
        display: inline-block;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    #menu-icon {
        display: block;
    }

    #close-icon {
        display: none;
    }

    .menu.open #menu-icon {
        display: none;
    }

    .menu.open #close-icon {
        display: block;
    }
}