.body {
    line-height: 0.8;
}

.form__error {
    margin-top: 10px;
    color: #ff0000;
}

.header {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

.search-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-icon {
    display: none;
}

#keyword-input {
    padding: 8px;
    font-size: 1em;
    width: 563px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.menu {
    display: flex;
}

.menu-list-content {
    display: flex;
    align-items: baseline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list {
    margin-left: 20px;
}

.menu-link,
.logout-link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.logout-link {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.link-sell {
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    color: #000;
}

.hamburger-menu {
    display: none;
}

@media (min-width: 1301px) {
    .menu {
        display: flex;
    }

    #keyword-input {
        display: inline-block;
    }

    .hamburger-menu,
    .search-icon {
        display: none;
    }
}

@media (max-width: 1300px) {

    .menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #333;
        border-top: 1px solid #555;
        z-index: 999;
    }

    .menu-list-content {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .menu-list {
        margin: 0;
        padding: 20px 0;
        text-align: center;
    }

    #search-icon {
        display: block;
    }

    #keyword-input {
        display: none;
        position: absolute;
        top: 85px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    .search-content.active #keyword-input {
        display: inline-block;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 27px;
        right: 50px;
        z-index: 1000;
    }

    #menu-icon {
        display: block;
    }

    #close-icon {
        display: none;
        position: fixed;
    }

    .menu.open #menu-icon {
        display: none;
    }

    .menu.open #close-icon {
        display: block;
    }
}