.main {
    padding: 95px 10px;
}

.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.star-icon {
    color: grey;
    transition: color 0.3s;
    font-size: 50px;
}

.star-icon.active {
    color: red;
}

.chat-icon {
    font-size: 40px;
}

.item-list-img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 4px;
}

.item-detail {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.item-name {
    font-size: 45px;
    font-weight: 700;
}

.item-brand {
    font-size: 20px;
}

.item-price {
    font-size: 30px;
}

.flex {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.form__button-submit {
    border: none;
    background-color: #FF5555;
    width: 100%;
    height: 56px;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    border-radius: 4px;
    margin-top: 35px;
}

.item-text {
    width: 570px;
}

.purchase-link {
    text-decoration: none;
    width: 100%;
    height: 56px;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    border-radius: 4px;
    background-color: #FF5555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-textarea {
    width: 100%;
    height: 246px;
}

.subtitle {
    font-size: 36px;
    font-weight: 700;
    margin-top: 50px;
}

.description-text {
    font-size: 24px;
}

.information-flex {
    display: flex;
    align-items: baseline;
    gap: 3rem;
}

.information-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 0.5;
}

.span {
    font-size: 20px;
    background-color: #e5e5e5;
    border-radius: 15px;
    padding: 5px 20px;
    margin-right: 10px;
    font-weight: 400;
}

.span-condition {
    font-weight: 400;
    margin-left: 70px;
    font-size: 20px;
}

.comment-title {
    font-size: 36px;
    font-weight: 700;
    color: #5F5F5F;
    margin-top: 75px;
}

.comment-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.comment-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.comment-text {
    background-color: #e5e5e5;
    padding: 15px;
    margin-bottom: 38px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

.name {
    font-size: 30px;
    font-weight: 700;
}

.comment-count {
    text-align: center;
    line-height: 0;
}

.favorite-count {
    text-align: center;
    line-height: 0;
}

.description-text {
    line-height: 1.5;
}

.category-flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    max-width: 330px;
}

@media (max-width: 1200px) {
    .item-detail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item-list-img {
        width: 350px;
        height: 350px;
        max-width: 580px;
    }

    .item-text {
        max-width: 570px;
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .information-flex {
        flex-direction: column;
    }

    .span-condition {
        margin-left: 0;
        display: block;
        margin-top: 25px;
    }
}